.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.f3-700 {
  font-size: 3rem;
  font-weight: 700;
}

.f2-700 {
  font-size: 2rem;
  font-weight: 700;
}

.f1-5-400 {
  font-size: 1.5rem;
  font-weight: 400;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  color: #2c4058;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-container {
  background-image: linear-gradient(to right, rgba(85, 183, 255, 0.9), rgba(126, 90, 255, 0.9)), url("../img/headre-container.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  position: relative;
  padding-top: 50px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}
.navbar .nav-links {
  display: flex;
  list-style: none;
}
.navbar .nav-links .nav-item {
  margin-right: 20px;
  cursor: pointer;
}
.navbar .nav-links .nav-item.active .circle {
  background-color: #ffffff;
}
.navbar .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #ffffff;
  transition: background-color 0.3s ease;
}
.navbar .social-icons a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}
.navbar .social-icons a .fa-brands {
  font-size: 2rem;
}

.titles-top-of-page {
  color: #ffffff;
  text-align: center;
  padding-top: 500px;
  margin-bottom: 200px;
  animation: fadeInDown;
  animation-duration: 2s;
}
.titles-top-of-page .fa-circle-arrow-down {
  padding-top: 200px;
  font-size: 2rem;
}

.slick-slider-just-dots-no-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20px;
  width: 20px;
  transform: translateY(-300px);
  padding-left: 2800px;
}
.slick-slider-just-dots-no-slide img {
  margin-top: 20px;
}

.what-we-do__title {
  margin-top: 100px;
}

.what-we-do__container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
  color: #2c4058;
}
.what-we-do__container1 .what-we-do__text1 {
  margin-left: 100px;
}

.what-we-do__btn1 {
  border: 1px solid #2c4058;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #2c4058;
  cursor: pointer;
  margin: 20px;
}

.what-we-do__container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
  color: #2c4058;
}
.what-we-do__container2 .what-we-do__text2 {
  margin-right: 100px;
}

.what-we-do__btn2 {
  border: 1px solid #2c4058;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #2c4058;
  cursor: pointer;
  margin: 20px;
}

.latest-news-container {
  background-color: url("../img/Background-latest-news.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.latest-news-container .latest-news-container__title {
  color: #2c4058;
  text-align: center;
  margin-top: 60px;
}

.latest-news-slick-slider__cards {
  color: #2c4058;
  width: 514px;
  height: 370px;
  border: 1px solid #ffffff;
}

.gallery-section__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
}
.gallery-section__img .gallery-section__img1 {
  margin-right: 10px;
}
.gallery-section__img .gallery-section__group1img {
  margin-bottom: 10px;
}

.gallery-section__btn {
  border: 1px solid #2c4058;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #2c4058;
  cursor: pointer;
  margin: 20px;
  margin-top: 100px;
  margin-left: 1400px;
}