.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.f3-700 {
  font-size: 3rem;
  font-weight: 700;
}

.f2-700 {
  font-size: 2rem;
  font-weight: 700;
}

.f1-5-400 {
  font-size: 1.5rem;
  font-weight: 400;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

.navbar-container {
  background-image: linear-gradient(to right, rgba(85, 183, 255, 0.9), rgba(126, 90, 255, 0.9)), url("../img/headre-container.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  position: relative;
  padding-top: 50px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}
.navbar .nav-links {
  display: flex;
  list-style: none;
}
.navbar .nav-links .nav-item {
  margin-right: 20px;
  cursor: pointer;
}
.navbar .nav-links .nav-item.active .circle {
  background-color: #ffffff;
}
.navbar .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #ffffff;
  transition: background-color 0.3s ease;
}
.navbar .social-icons a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}
.navbar .social-icons a .fa-brands {
  font-size: 2rem;
}

.titles-top-of-page {
  color: #ffffff;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 200px;
}