@use "fonts" as *;
@use "colors" as *;
@use "mixin" as *;

.latest-news-slick-slider {
  width: 80%;
  margin: 0 auto;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li.slick-active button {
  background-color: $textTitleColor;
}

.slick-prev,
.slick-next {
  font-size: 20px;
  color: $textColor;
}

.latest-news-slick-slider__cards {
  margin: 0 10px;
}

.img-cards {
  width: 100%;
  height: auto;
}

.latest-news-slick-slider__cards div {
  padding: 10px;
  background-color: #f9f9f9;
}

.latest-news-slick-slider__cards h1 {
  margin: 0;
  font-size: 18px;
}

.latest-news-slick-slider__cards p {
  margin-top: 5px;
  font-size: 14px;
}
