@use "fonts" as *;
@use "colors" as *;
@use "mixin" as *;

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

.navbar-container {
  background-image: linear-gradient($direction, $colors),
    url("../img/headre-container.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  position: relative;
  padding-top: 50px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;

  .nav-links {
    display: flex;
    list-style: none;

    .nav-item {
      margin-right: 20px;
      cursor: pointer;

      &.active .circle {
        background-color: $textColor;
      }
    }
  }

  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid $textColor;
    transition: background-color 0.3s ease;
  }

  .social-icons {
    a {
      margin-left: 10px;
      text-decoration: none;
      color: black;

      .fa-brands {
        font-size: 2rem;
      }
    }
  }
}

.titles-top-of-page {
  color: $textColor;
  text-align: center;
  padding-top: 500px;
  margin-bottom: 200px;
  animation: fadeInDown;
  animation-duration: 2s;
}
