@use "fonts" as *;
@use "colors" as *;
@use "mixin" as *;

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  color: $textTitleColor;
}

a {
  color: $textColor;
  text-decoration: none;
}

.navbar-container {
  background-image: linear-gradient($direction, $colors),
    url("../img/headre-container.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: $textColor;
  position: relative;
  padding-top: 50px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;

  .nav-links {
    display: flex;
    list-style: none;

    .nav-item {
      margin-right: 20px;
      cursor: pointer;

      &.active .circle {
        background-color: $textColor;
      }
    }
  }

  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid $textColor;
    transition: background-color 0.3s ease;
  }

  .social-icons {
    a {
      margin-left: 10px;
      text-decoration: none;
      color: black;

      .fa-brands {
        font-size: 2rem;
      }
    }
  }
}

.titles-top-of-page {
  color: $textColor;
  text-align: center;
  padding-top: 500px;
  margin-bottom: 200px;
  animation: fadeInDown;
  animation-duration: 2s;

  .fa-circle-arrow-down {
    padding-top: 200px;
    font-size: 2rem;
  }
}

.slick-slider-just-dots-no-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20px;
  width: 20px;
  transform: translateY(-300px);
  padding-left: 2800px;

  img {
    margin-top: 20px;
  }
}

//WHAT WE DO

.what-we-do__container1 {
  @include flex-row-center;
  color: $textTitleColor;

  .what-we-do__text1 {
    margin-left: 100px;
  }
}

.what-we-do__btn1 {
  @include btn-style;
}

#details1 {
  display: none;
}

#display1.active {
  display: block;
}

.what-we-do__container2 {
  @include flex-row-center;
  color: $textTitleColor;

  .what-we-do__text2 {
    margin-right: 100px;
  }
}

.what-we-do__btn2 {
  @include btn-style;
}

// LATEST NEWS - SLICK SLIDER

.latest-news-container {
  background-image: url("../img/Background-latest-news.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1035px;
}

.latest-news-container__title {
  color: $textTitleColor;
  text-align: center;
  padding-top: 50px;
}

.latest-news-slick-slider__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  height: 80%;
}

.latest-news-slick-slider__cards img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.slick-dots li button {
  color: transparent;
  font-size: 0;
  line-height: 0;
  width: 15px;
  height: 15px;
  background-color: $textColor;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: $textTitleColor;
}

.slick-prev {
  transform: translateX(-100px);
}

.slick-next {
  transform: translateX(2350px);
}

// GALLERY

/* Hide the additional images by default */
.additional-images {
  display: none;
}

/* Show the additional images when the 'visible' class is applied */
.additional-images.visible {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gallery-section__img {
  @include flex-row-center;
  margin-top: 50px;

  .gallery-section__img1 {
    margin-right: 10px;
  }

  .gallery-section__group1img {
    margin-bottom: 10px;
  }
}

.gallery-section__btn {
  @include btn-style;
  margin-top: 100px;
  margin-left: 50%;
}

// MAP

.map-section {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

  .map-section__title {
    padding-top: 100px;
  }
}

// CONTACT FORM
.contacts-form {
  width: 1000px;
  height: 450px;
  border: 1px solid $textTitleColor;
  background-color: $textColor;
  transform: translateY(500px);
  margin-left: 1050px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;

  .contacts__title {
    grid-column: 1 / -1;
    text-align: center;
  }

  .form-container {
    grid-column: 1;
  }

  .contacts-form__inputs {
    grid-column: 2;
  }

  .form-container__ul {
    margin-top: 50px;
    list-style: none;
  }
  .form-container__li {
    padding-bottom: 50px;
  }
}

.input-field {
  line-height: 2rem;
  border: none;
  border-bottom: 1px solid $textTitleColor;
  margin: 25px;
}

.contacts-form__btn {
  @include btn-style;
  margin-left: 200px;
}

.firework {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}

.red {
  background-color: red;
  animation: explode-red 3s forwards;
}

.blue {
  background-color: blue;
  animation: explode-blue 3s forwards;
}

.orange {
  background-color: orange;
  animation: explode-orange 3s forwards;
}

@keyframes explode-red {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}

@keyframes explode-blue {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}

@keyframes explode-orange {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}

// FOOTER

.footer {
  background-image: linear-gradient($direction, $colors),
    url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  @include flex-row-center;
  justify-content: space-around;
  margin-block-start: -1px;
}

.footer__logo {
  margin-top: 200px;
  width: 255px;
  height: 55px;
}

.social-icons-footer {
  margin-top: 200px;
  font-size: 2rem;
}
